<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
<div class="container">
<button type="button" class="btn btn-primary" routerLink="/app-adminoperations">Home</button>
</div>
<div align="center">
    <label> Enter Flight number
    <input required type="number" #flightnumberRef='ngModel' name="flightNumber" [(ngModel)]="flightnumber" ngModel class="form-control"></label>
    <div *ngIf='flightnumberRef.errors
                && flightnumberRef.touched' class="alert alert-danger">
        <div [hidden]='!flightnumberRef.errors.required'>
            Provide scheduled flight number
        </div>
    </div>

    <input type="button" value="search" (click)="getflight()" class="btn btn-primary" class="form-group"/>
</div>
<br>
<div *ngIf="flight!=null" align="center" else elseBlock >
    <table class="table table-striped" >
        
            <tbody align="center">
        <tr>
            <th>FLIGHT NUMBER</th>
            <td> {{flight.flightNumber}} </td></tr>
            <tr>  <th>FLIGHT MODEL</th>
            <td> {{flight.flightModel}} </td></tr>

            <tr>
            <th>CARRIER NAME</th>
            <td>{{flight.carrierName}}</td></tr>
            <tr>
            <th>SEAT CAPACITY</th>
            <td> {{flight.seatCapacity}} </td>
        </tr>
    </tbody>
    </table>
    
    <button type="button" class="btn btn-danger" (click)=delete(flight)>Delete</button>
    &nbsp;&nbsp;
    
        <button type="button" class="btn btn-primary" (click)=updateflight(flight)>Update</button>
    
</div>
<ng-template #elseBlock>
    <h4 align="center">No flights are available </h4>
  </ng-template>

