<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
<div class="container">
    <button type="button" class="btn btn-primary" routerLink="/app-adminoperations">Home</button>
    </div>
<div align="center">
    <label> Enter Scheduled flight ID
    <input required type="number" #scheduledflightidRef='ngModel' name="scheduledflightid" [(ngModel)]="scheduledflightid" ngModel class="form-control"></label>
    <div *ngIf='scheduledflightidRef.errors
                && scheduledflightidRef.touched' class="alert alert-danger">
        <div [hidden]='!scheduledflightidRef.errors.required'>
            Provide scheduled flight number
        </div>
    </div>
    <input type="button" value="search " (click)="getscheduledflight()" class="btn btn-primary" class="form-group"/>
</div>
<div class="container"  *ngIf="scheduledflight!=null  else elseBlock">
  
<table class="table table-striped">
        
            <tbody align="center">
        <tr>
            <th>SCHEDULED FLIGHT ID</th>
            <td> {{scheduledflight.scheduledflightid}} </td></tr>
            <tr>  <th>FLIGHT NUMBER</th>
            <td> {{scheduledflight.flight.flightNumber}} </td></tr>

            <tr>
            <th>ARRIVAL TIME</th>
            <td>{{scheduledflight.arrivaltime}}</td></tr>
            <tr>
            <th>DEPARTURE TIME</th>
            <td> {{scheduledflight.departuretime}} </td>
        </tr>
        <tr>
            <th>SOURCE AIRPORT</th>
            <td> {{scheduledflight.sourceairport.airportName}} </td>
        </tr>
        <tr>
            <th>DESTINATION AIRPORT</th>
            <td> {{scheduledflight.destinationairport.airportName}} </td>
        </tr>
        <tr>
            <th>TICKET COST</th>
            <td> {{scheduledflight.ticketcost}} </td>
        </tr>
        <tr>
            <th>AVAILABLE SEATS</th>
            <td> {{scheduledflight.availableSeats}} </td>
        </tr>
    </tbody>
        
    </table>
    
        <button type="button" class="btn btn-danger" (click)=delete(scheduledflight)>Delete</button>
    &nbsp;&nbsp;
    
        <button type="button" class="btn btn-primary" (click)=update(scheduledflight)>Update</button>
    
</div>
<ng-template #elseBlock>
    <h4 align="center">No flights are available </h4>
  </ng-template>
  

