
<html>
  <div class="container-fluid bg-primary">
    <a class="navbar-brand" href="#"></a>
    <div class="float-center">
      <h1>Flight Management System</h1>
    </div>
  </div>
  &nbsp; &nbsp;&nbsp; &nbsp;
  <button class="btn btn-success" routerLink='/scheduledflight'>scheduled flight</button>&nbsp;
     <button class="btn btn-success" routerLink='/searchscheduledflight'>search scheduled flight</button>&nbsp;
     <button class="btn btn-success" routerLink='/updatescheduleflight'>update schedule flight</button>&nbsp;
     <button class="btn btn-success" routerLink='/viewscheduleflight'>view scheduled flight</button>&nbsp;
<router-outlet></router-outlet>
</html>