
<div align="right"> <input type="submit"  routerLink='/app-login' value="LogOut" class="btn btn-success">
</div>
  <div class="container">
    
            <h5 class="card-title text-center">Welcome Admin!!!</h5>
           
              <button class="btn btn-primary" routerLink='/app-scheduledflight' type="submit">Schedule A Flight</button>
              &nbsp;&nbsp;
              <button class="btn btn-primary" routerLink='/app-viewscheduleflight' type="submit">View Scheduled Flight</button>
              &nbsp;&nbsp;
              <button class="btn btn-primary" routerLink='/app-updatescheduleflight' type="submit">update Scheduled Flight</button>
              &nbsp;&nbsp;
              <button class="btn btn-primary" routerLink='/app-searchscheduledflight' type="submit">Search Scheduled Flight</button>
              &nbsp;&nbsp;
    </div>

<router-outlet></router-outlet>

            
            
            